<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOnlineDoctor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C2FD4C81F4FFC0000D27CB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C2FD4E41F4FFC0000D27CB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C2FD4EF1F4FFC0000D27CB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
